.Container {
  max-width: 1400px;
  margin: auto;
}

.selfie {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

.AboutMe {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.AboutMe > h1,
.AboutMe > h2 {
  font-family: "Josefin Sans";
}

.AboutMe > p {
  font-family: "Mulish";
  font-size: larger;
}

.row {
  color: white;
}

.Picture {
  padding-left: 0;
}

@media (max-width: 991px) {
  .AboutMe {
    margin-top: 50px;
  }
  .Picture {
    text-align: center;
  }
}
