.Container {
  margin-top: 150px !important;
  padding: 0 20px;
}

.selfie {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

.skillIcon {
  margin-top: 20px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.iconCenter {
  text-align: center;
}

.AboutMe {
  flex-flow: column;
  margin: auto !important;
}

.AboutMe > h1,
.AboutMe > h2,
h3 {
  font-family: "Josefin Sans";
}

.MoreAboutMe {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-left: 0 !important;
}

.AboutMe p, .MoreAboutMe > p {
  font-family: "Mulish";
  font-size: larger;
}

figure {
  margin: 0
}

.row {
  color: white;
}

.Picture {
  padding-right: 0 !important;
}

.MoreAboutMePic {
  max-width: 680px;
  width: 100%;
}

@media (max-width: 1400px) {
  .Container {
    /* padding: 0px; */
    /* max-width: 1400px; */
  }
}
@media (max-width: 959px) {
  .AboutMe,
  .MoreAboutMe {
    text-align: center;
    padding-left: 20px !important;
  }
  .Picture {
    text-align: center;
    padding-right: 20px !important;
  }
  .Container {
    padding: unset;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  /* .selfie {
    max-width: 400px;
  } */
}
