.Home {
  text-transform: uppercase;
  padding-top: 5px;
}

.Home a {
  color: #e5d936;
  text-decoration: none;
  font-family: "Josefin Sans";
  font-weight: bolder;
  font-size: xx-large;
}

@media (max-width: 801px) {
  .Home {
    text-align: center;
    padding-top: 25px;
  }
}
