.Content {
  min-width: min-content;
}
.Content h1 {
  color: white;
  text-align: center;
}

.Content ul {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  width: min-content;
  flex-flow: row;
}

.Content li {
  padding: 0 20px;
  margin: auto;
}

.Content img {
  width: 50%;
  display: flex;
  margin: auto;
}
