.Row {
  color: black;
  margin-bottom: 25px;
  padding-right: 5px;
}

.Row h1 {
  color: white;
}

.collg8 {
  padding-right: 0;
}

@media (max-width: 959px) {
  .collg4 h1 {
    text-align: center;
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  .Row {
    padding-right: 0;
  }
}