.FontAwesomeIcon, .NavigationItems {
  display: flex;
  padding: 0;
}
.NavigationItems {
  margin: 0;
  list-style: none;
  align-items: center;
  height: 100%;
  flex-flow: row;
}

li {
  padding: 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

li.Items {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 20px;
  width: 100px;
}

.FontAwesomeIcon li svg:hover {
  color: #cbb26a;
}

li.Items:hover {
  color: white;
}

@media (max-width: 801px) {
  .NavigationItems {
    flex-flow: column;
  }

  .FontAwesomeIcon, li.Items {
    padding: 10px;
  }

  .FontAwesomeIcon {
    font-size: xx-large;
  }

  .FontAwesomeIcon li {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  li.Items {
    font-size: 40px;
    width: 100%;
  }
}