.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: row;
}

li {
  padding: 0 20px;
}

li.Items {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100px;
}

li.Items:hover {
  font-weight: 500;
  /* background-color: #8f5c2c; */
  border-bottom: 4px solid #cbb26a;
  color: white;
}

.fontUpload:hover {
  color: #e5d936;
}
