body {
  margin: 0;
  font-family: "Josefin Sans", "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  color: #cbb26a;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}

p {
  font-family: "Mulish";
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
