
body {
  margin: 0;  font-family: "Mulish";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  padding: 0;
  height: 100%;
}


#root {
  max-width: 1440px;
  min-width: fit-content;
  margin: 0 auto;
}
