.Footer {
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}

footer nav {
  max-width: fit-content;
  margin: 0 auto;
}

.Footer p {
  color: white;
  font-size: medium;
  word-spacing: 5px;
}

@media (max-width: 800px) {
  footer nav {
    display: none;
  }
  
}
