.Footer {
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;

}

.Footer p {
  color: white;
  font-size: medium;
  word-spacing: 5px;
}

.Footer a {
  padding: 0 10px;
}

.fAHover:hover,
.fAHover:focus,
.fAHover:active {
  color: #e5d936;
}

@media only screen and (max-width: 499px) {
  .Footer p {
    font-size: small;
  }
}
